:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-blue-100: #d8ddfc;
  --color-blue-200: #b1bbf9;
  --color-blue-300: #8DA2EB;
  --color-blue-400: #53569C;
  --color-blue-500: #3d44cd;
  --color-blue-800: #1F2267;
  --color-sky-300: #47b9e5;
  --color-sky-500: #1f83a7;
  --color-gray-100: #f1f5f5;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #6c757d;
  --color-gray-600: #767680;
  --color-green-300: #00B37E;
  --color-green-500: #00875F;
  --color-green-700: #015F43;
  --color-red-400: #FF6767;
  --color-white: #ffffff;
  --color-black: #000000;
}

