.select-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    gap: 5px;
}

label {
    font-size: 0.8rem;
    color: var(--white);
}

select {
    width: 100%;
    padding: 10px 15px;
    background-color: var(--gray-600);
    color: var(--white);
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

select:focus {
    border: 2px solid var(--blue-900);
    outline: none;
    transition: 0.1s all;
}
