button {
    padding: 10px 15px;
    border-radius: 20px;
    color : var(--white);
    cursor: pointer;
}

.default{
   background-color: var( --blue-500) ;
   border: none;
}

.default:hover{
    opacity: 0.7;
}

.success{
    background-color: var(--green-500) ;
    border: none;
}

.success:hover{
    opacity: 0.7;
}

.destructive{
    background-color: var(--rose-500) ;
    border: none;
}

.destructive:hover{
    opacity: 0.7;
}

